<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="d-flex justify-content-center align-items-center flex-column">
<div class="container">

    <h2 class="h2 color <%-status %>"><%-msg %>!</h2>
    <h5 class="h5"><%-description%></h5>
    <h6 class="h6"><%- time %></h6>
</div>
<article class="container-fluid">
    <div class="container-fluid first-title-part d-flex justify-content-center align-items-center">
        <h2 class="h2 titlepart">Wellcome to our chat!</h2>
    </div>
</article>
<div class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque cum amet unde culpa numquam ratione tempore ad alias quasi vero molestiae deserunt, 
        dignissimos inventore mollitia architecto, quod in voluptatibus veniam. Lorem ipsum
        dolor sit amet consectetur, adipisicing elit. Provident repudiandae iste perferendis voluptatem,
        rerum itaque fugit officiis, 
        porro aliquid debitis fuga veritatis explicabo ratione aut magni fugiat cumque, sed tempore!
    </div>
    <img src="../images/key.svg" class="arrow">
<script src="/js/index.js"></script>
    
</body>
</html>