<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="d-flex justify-content-center align-items-center flex-column h-75">
<div class="container">
    <h2 class="h2 color color-success">Success!</h2>
    <h6 class="h6"><%- time %></h6>
</div>

    
</body>
</html>