<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Success</title>
</head>
<body style="background-color: aquamarine;">
    <div class="container">
    <h1 class="h1 m-1 text-success">Password changed successfully!</h2>
    <h6 class="h6"><%-date%></h6>
    </div>
    <script src="/js/redirect_to_login.js"></script>
</body>
</html>