<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet"  href="/css/bootstrap.min.css">
    <link  rel="stylesheet"  href="/css/register.css">
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    
</head>
<body class="d-flex justify-content-center align-items-center">
   
 <section class="container m-2 border border-primary m-2 px-4 formwidth "  > 
    <h6 class="maintextcolor"><%- val %></h6>
    <h4 class="h4 maintextcolor">Chat registration</h4>
    <form action="/action_page.php" class="was-validated d-flex flex-column justify-content-center">
        <div class="mb-3 mt-3 mx-2">
          <label for="uname" class="form-label maintextcolor">Username:</label>
          <input type="text" size="24" maxlength="24" class="form-control maintextcolor" id="uname" placeholder="Enter username" name="uname" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3 mx-2">
          <label for="pwd" class="form-label maintextcolor">Password:</label>
          <input type="password" size="10" maxlength="10" class="form-control maintextcolor" id="pwd" placeholder="Enter password" name="pswd" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="mb-3 mx-2">
            <label for="avatar" class="form-label maintextcolor">Avatar image:</label>
            <input type="file" value="Choose JPG File" class="form-control maintextcolor" id="avatar" placeholder="Select an image- your avatar" name="avatar"  accept="image/*"  required/>
           
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

        
      <button type="button" class="btn m-2 btn-primary">Submit</button>
      </form>

    <img id="demoShow"/>
</section>
    
    

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields

    window.onload=()=>{
       
        let form = document.querySelector('form.was-validated');
        let btn = form.querySelector('.btn');
     btn.addEventListener('click',(event)=>{
        let valid = form.checkValidity();
        console.log(valid);
        if(!valid){
            return;
        }
        readFile();
     })

     
        
    }

function readFile () {
  
    // (A) GET SELECTED FILE
    let selected = document.getElementById("avatar")
    .files[0];
    // (B) READ SELECTED FILE
    let reader = new FileReader();
    reader.addEventListener("load", () => {
        let y = reader.result;
       // sendDataToServer(null,y);
        document.getElementById("demoShow").src = reader.result;
    });
    reader.readAsDataURL(selected);
}

async function sendDataToServer (url, img) {
     //define the adress - where you want to send
    const currentUrl = new URL(document.location.href)
    let response;
    // current base URL
    // url = `${currentUrl.protocol}//${currentUrl.hostname}:${currentUrl.port}`;
     url = `${currentUrl.origin}${currentUrl.pathname}data${currentUrl.port}`;
    const options={
        headers:{"Content-type":"application/json;charset=utf-8"},
        body:JSON.stringify({clientData: img}),
        method:'post'
    }
    try{
        response = await fetch(`${url}`,options);
    } catch(e){
        return {status:false, err:e}
    }
       
   if (response.ok) {
        return {status:true}
   }

}
</script>
</body>
</html>