
/* roboto-mono-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-mono-v22-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-mono-v22-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-mono-v22-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-mono-v22-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-mono-v22-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-mono-v22-latin_cyrillic-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-mono-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-mono-v22-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-mono-v22-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-mono-v22-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-mono-v22-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-mono-v22-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-mono-v22-latin_cyrillic-500.svg#RobotoMono') format('svg'); /* Legacy iOS */
  }
  

  .image_rotate {
    animation: rotation 3s infinite linear;
}

body{
  width: 99vw !important;
  box-sizing: border-box !important;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

body {
    box-sizing: border-box !important;
    width:100vw !important;
}

.message-box-normal-bg {
  background-color:palegoldenrod !important;
}


.message-box-radius {
  border-radius: 10px !important;
}

.message-normal-bg{
  background-color:lightyellow !important;
}

.message-limits {
  width:98% !important;
}

.message-name-text {
  font-family: 'Roboto Mono';
  color:darkslategray !important;
   font-size: calc(12px + 0.8vw) !important;
}

.message-msg-text {
  font-family: 'Roboto Mono';
  color:darkslategray !important;
  font-size: calc(11px + 0.7vw);
}

.message-date-text {
  font-family: 'Roboto Mono';
  color: darkslategray !important;
   font-size: calc(9px + 0.5vw);
}

.users-text {
  font-family: 'Roboto Mono';
  color:darkslategray !important;
  font-size: calc(11px + 0.7vw);
}

.users-head-bg {
  background-color:palegoldenrod !important;
}

.users-body-bg {
  background-color:palegreen !important;
}

.users-box-radius {
  border-radius: 12px !important;
}

.border-primary {
  border:2px solid olive !important;
}



.roboto-font-family{
  font-family: 'Roboto Mono';
}

.roboto-button-font{
  font-family: 'Roboto Mono';
   font-size: calc(11px + 0.7vw);
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: snow !important; /* Choose your own color here */
}

.regenkey-bg {
  background-color:coral !important;
}

.regenkey-text {
   color:#331611 !important;
   font-family: 'Roboto Mono';
   font-size: calc(11px + 0.7vw);
}

.regenkey-box-radius{
   border-radius: 12px !important;
}

.cleaner-bg {
   background-color:burlywood !important;
}

.cleaner-text {
   font-family: 'Roboto Mono';
   font-size: calc(11px + 0.7vw);
   color:#331611 !important;
}

.cleaner-box-radius {
   border-radius: 12px !important;
}

@keyframes btnClickAnimation {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

input[disabled]{
   background-color: lightgray !important;
   color:darkgrey !important;
}
 button[disabled]{
   background-color: lightgray !important;
   color:darkgrey !important;
   border:none !important;
 }

  input[type="radio"]:checked {
  background-color: firebrick !important;
  border: 2px solid firebrick !important;
  
} 

 

.clickAnimation{
  animation: btnClickAnimation 0.5s ease 0s 1 normal forwards;
}

.cursor-pointer{
  cursor: pointer !important;
}

.hide-element{
  display:none !important;
}