.bg-primary{
    background-color: bisque !important;
}

.text-danger{
    color:crimson !important;
}

.text-success{
    color:forestgreen !important;
}

a{
    text-decoration: none !important;
    color:darkslategray !important;
    
    border: 1px solid firebrick !important;
}